<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neon Bootstrap</title>
    <link rel="icon" type="image/gif" href="/assets/img/favicon.gif" />

    <!-- css -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css">

    <!-- js -->
    <script src="/assets/js/vendor/jquery.js"></script>
    <script src="/assets/js/vendor/socket.io.min.js"></script>
    <script src="/assets/js/vendor/neon/neon.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/CustomEvent.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/NodeSupport.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/CustomEventSupport.js"></script>
    <script src="/assets/js/vendor/neon/std-lib/Widget.js"></script>

    <script src="/assets/js/app.js"></script>
</head>

<body>
    <div class="wrapper">
        <img src="/assets/img/neon-logo.png" alt="">
        <h1>Neon bootstrap</h1>
        <h2>v0.0.1</h2>
    </div>
</body>

</html>
