html,
body,
.app-container,
.app{
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.app{
  display: flex;
  flex-direction: row wrap;
}

.app .sidebar-container{
  width: 200px;

  background-color: #EBEBEB;
  box-shadow: inset -1px 0 0 0 rgba(0,0,0, 0.4);
}

.app .body-container{
  flex: 1;

  background-color: #EEEEEE;
}